*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: #000;
}

header{
    width: 100%;
    height: 30px;
    background-color: #fff;
    position: fixed;
    top: 0;
    /* left: 0; */
    z-index: 1;
}
header main{
    width: 1306px;
    height: 30px;
    /* background-color: red; */
    margin: 0 auto;
}
header main .img1{
    float: left;
    margin-top: 10px;
}
header main .denglu{
    width: 44px;
    height: 16px;
    border-right:1px solid #999999;
    float: left;
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    margin-left: 5px;
    font-weight: 600;
}
header main .zhuce{
    width: 44px;
    height: 16px;
    border-right:1px solid #999999;
    float: left;
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    margin-left: 5px;
    font-weight: 600;
}
header  main .guowuche{
    width: 44px;
    height: 16px;
    /* background-image: url(images/2.png) no-; */
    float: left;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    margin-top: 8px;
    font-weight: 600;
    margin-left: 5px;
}
header  main .xiaoxi{
    width: 44px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-right: 1px solid #999999;
    margin-left: 875px;
    margin-top: 8px;
    float: left;
    font-size: 12px;
    font-weight: 600;
}
header  main .xiaoxi1{
    width: 68px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-right: 1px solid #999999;
    margin-left: 3px;
    margin-top: 8px;
    float: left;
    font-size: 12px;
    font-weight: 600;
}
header  main .xiaoxi2{
    width: 68px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-right: 1px solid #999999;
    margin-left: 3px;
    margin-top: 8px;
    float: left;
    font-size: 12px;
    font-weight: 600;
}
nav{
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    top:30px;
    z-index: 1;

}
nav main{
    width: 1306px;
    height: 50px;
    margin: 0 auto;
}
nav main .img3{
    margin-top: 18px;
    float: left;
}
nav main .n1{
    width: 860px;
    height: 50px;
    /* background: #fff; */
    float: left;
    margin-left: 5px;
    /* margin-top: 14px; */
    font-size: 14px;
    position: relative;
    font-weight: 600;
}
nav main .n1 a{
    display: inline-block;
    width: 72px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    /* border-left: 1px solid #4c4a46; */
}
nav main .n1 a:nth-child(1){
    width: 90px;
    height: 50px;
}
nav main .n1 a:nth-child(7){
    width: 100px;
    height: 50px;
    /* text-indent: 25px;
     */
     text-align: center;
}
nav main .n1 a:nth-child(9){
    width: 110px;
    height: 50px;
}
/* nav main .n1 .img4{
    position: absolute;
    left: 495px;
    top: 14px;
} */
nav main .n1 .a11{
    width: 1366px;
    height: 400px;
    background: #fff;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
}
nav main .n1 .a11 .a111{
    width: 180px;
    height: 250px;
    /* background: red; */
    margin-left: 40px;
    margin-top: 30px;
    float: left;
    border-left: 1px solid #000;
    
}
nav main .n1 .a11 .a111 li{
    height: 20px;
    list-style: none;
    color: #000;
    margin-left: 40px;
}
nav main .n1 .a11 .a111 li:nth-child(1){
    height: 60px;
    font-size: 24px;
    color:red;
}
nav main .n1 .a11 .aa{
    width: 455px;
    height: 70px;
    margin-top: 320px;
    margin-left: 450px;
}
nav main .n1 .a11 .a112{
    width: 83px;
    height: 75px;
    /* background: red; */
    float: left;
    margin-left: 7px;
    text-align: center;
    position: relative;
}
nav main .n1 .a11 .a112 .img7{
    position: absolute;
    top: 0;
    left: 0;
}
nav main .n1 .a11 .a112 .img7:hover{
    top: -6px;
}
nav main .n1 .a21{
    width: 1366px;
    height: 400px;
    background: #fff;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
}
nav main .n1 .a21 .a111{
    width: 180px;
    height: 350px;
    /* background: red; */
    margin-left: 80px;
    margin-top: 30px;
    float: left;
    border-left: 1px solid #000;
    position: relative;
    
}
nav main .n1 .a21 .a111 li{
    height: 20px;
    list-style: none;
    color: #000;
    margin-left: 60px;
}
nav main .n1 .a21 .a111 li:nth-child(1){
    height: 60px;
    font-size: 24px;
    color:red;
}
nav main .n1 .a21 .a111 li:nth-last-child(1){
    position: absolute;
    bottom:20px;
    left:20px;
    color:red;
}
nav main .n1 .a21 .aa{
    width: 455px;
    height: 70px;
    margin-top: 320px;
    margin-left: 450px;
}
nav main .n1 .a21 .a112{
    width: 83px;
    height: 75px;
    /* background: red; */
    float: left;
    margin-left: 7px;
    text-align: center;
    position: relative;
}
nav main .n1 .a31{
    width: 1366px;
    height: 400px;
    background: #fff;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
}
nav main .n1 .a31 .a111{
    width: 180px;
    height: 350px;
    /* background: red; */
    margin-left: 80px;
    margin-top: 30px;
    float: left;
    border-left: 1px solid #000;
    text-align: center;
    position: relative;
}
nav main .n1 .a31 .a111 li{
    text-align: center;
    margin-left: 60px;
    height: 20px;
    list-style: none;
    color: #000;
}
nav main .n1 .a31 .a111 li:nth-child(1){
    height: 60px;
    font-size: 24px;
    color:red;
}
nav main .n1 .a31 .a111 li:nth-last-child(1){
    position: absolute;
    bottom:20px;
    left:20px;
    color:red;
}
nav main .n1 .a31 .aa{
    width: 455px;
    height: 70px;
    margin-top: 320px;
    margin-left: 450px;
}
nav main .n1 .a31 .a112{
    width: 83px;
    height: 75px;
    /* background: red; */
    float: left;
    margin-left: 7px;
    text-align: center;
    position: relative;
}
nav main .n1 .a41{
    width: 1366px;
    height: 400px;
    background: #fff;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
}
nav main .n1 .a41 .a111{
    width: 180px;
    height: 350px;
    /* background: red; */
    margin-left: 80px;
    margin-top: 30px;
    float: left;
    border-left: 1px solid #000;
    position: relative;
}
nav main .n1 .a41 .a111 li{
    height: 20px;
    list-style: none;
    color: #000;
    margin-left: 60px;
}
nav main .n1 .a41 .a111 li:nth-child(1){
    height: 60px;
    font-size: 24px;
    color:red;
}
nav main .n1 .a41 .a111 li:nth-last-child(1){
    position: absolute;
    bottom:20px;
    left:20px;
    color:red;
}
nav main .n1 .a41 .aa{
    width: 455px;
    height: 70px;
    margin-top: 320px;
    margin-left: 450px;
}
nav main .n1 .a41 .a112{
    width: 83px;
    height: 75px;
    /* background: red; */
    float: left;
    margin-left: 7px;
    text-align: center;
    position: relative;
}
nav main .n1 .a51{
    width: 1366px;
    height: 400px;
    background: #fff;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
}
nav main .n1 .a51 .a111{
    width: 180px;
    height: 350px;
    /* background: red; */
    margin-left: 80px;
    margin-top: 30px;
    float: left;
    border-left: 1px solid #000;
    position: relative;
}
nav main .n1 .a51 .a111 li{
    height: 20px;
    list-style: none;
    color: #000;
    margin-left: 60px;
}
nav main .n1 .a51 .a111 li:nth-child(1){
    height: 60px;
    font-size: 24px;
    color:red;
}
nav main .n1 .a51 .a111 li:nth-last-child(1){
    position: absolute;
    bottom:20px;
    left:20px;
    color:red;
}
nav main .n1 .a51 .aa{
    width: 455px;
    height: 70px;
    margin-top: 320px;
    margin-left: 450px;
}
nav main .n1 .a51 .a112{
    width: 83px;
    height: 75px;
    /* background: red; */
    float: left;
    margin-left: 7px;
    text-align: center;
    position: relative;
}
nav main .n1 .a61{
    width: 1366px;
    height: 200px;
    background: #f6f6f6;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
}
nav main .n1 .a61 .a611{
    width: 1200px;
    height: 155px;
    margin-left: 100px;
    margin-top: 20px;
}
nav main .n1 .a61 .a611 .a6111{
    width: 210px;
    height: 155px;
    text-align: center;
    position: relative;
    float: left;
    margin-right: 28px;
    border-left: 1px solid #999999;
}
nav main .n1 .a61 .a611 .a6111 .img12{
    margin-top: 20px;
    /* display: block; */
}
nav main .n1 .a61 .a611 .a6111 .p1{
    position: absolute;
    left: 90px;
    bottom: -10px;
    color: red;
}
nav main .n1 .a71{
    width: 1366px;
    height: 400px;
    background: #fff;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
}
nav main .n1 .a71 .a111{
    width: 180px;
    height: 350px;
    /* background: red; */
    margin-left: 80px;
    margin-top: 30px;
    float: left;
    border-left: 1px solid #000;
    position: relative;
}
nav main .n1 .a71 .a111 li{
    height: 20px;
    list-style: none;
    color: #000;
    margin-left: 50px;
}
nav main .n1 .a71 .a111 li:nth-child(1){
    height: 60px;
    font-size: 24px;
    color:red;
}
nav main .n1 .a71 .a111 li:nth-last-child(1){
    position: absolute;
    bottom:20px;
    left:20px;
    color:red;
}
nav main .n1 .a71 .aa{
    width: 455px;
    height: 70px;
    margin-top: 320px;
    margin-left: 450px;
}
nav main .n1 .a71 .a112{
    width: 83px;
    height: 75px;
    /* background: red; */
    float: left;
    margin-left: 7px;
    text-align: center;
    position: relative;
}
nav main .n1 .a81{
    width: 1366px;
    height: 100px;
    background: #f6f6f6;
    display: none;
    position: absolute;
    top: 50px;
    left: -90px;
    text-align: center;
    
}
nav main .n1 .a81 .a811{
    width: 1220px;
    background:red;
    margin-top: 20px;
    margin-left: 70px;
}
nav main .n1 .a81 .a811 .a8111{
    width:144px;
    height: 52px;
    /* background: green; */
    /* margin-right:20px; */
    float: left;
    border-left:1px solid #ccc;
}
nav main .n1 .a81 .a811 .a8111 .img17{
    margin-top: 5px;
}
nav main .n2{
    width: 290px;
    height: 22px;
    /* background: red; */
    margin-left: 90px;
    float: left;
    margin-top: 14px;
}
nav main .n2 .n21{
    width: 80px;
    height: 22px;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    color: #fff;
    background: url(images/5.png) no-repeat 0px 2px;
    float: left;
}
nav main .n2 .n22{
    width: 210px;
    height: 25px;
    background: #fff;
    float: left;
    border-radius: 4px;
    position: relative;
}
nav main .n2 .n22 .inp1{
    width: 200px;
    height: 23px;
    border-radius: 4px;
    border:none;
    margin-left:10px;
}
nav main .n2 .n22 .n221{
    width: 23px;
    height: 23px;
    background: red;
    position: absolute;
    right: 2px;
    top: 1px;
    border-left: 1px solid #666666;
}
nav main .n2 .n22 .n221 .img6{
    margin-left: 5px;
}
.banner{
    width:100%;
    height:350px;
    background: #fff;
    margin-top: 80px;
}
.banner main{
    width:1348px;
    height:350px;
    margin: 0 auto;
    position: relative;
    /* background: red; */
}
.banner main .ban1{
    width:1348px;
    height:350px;
    position: relative;
    overflow: hidden;
}
.banner main .ban1 .ban11{
    width:4098px;
    height:350px;
    background: red;
    position: absolute;
    top:0;
    left:0;
}
.banner main .ban1 .ban11 .img1{
    width:1366px;
    height:350px;
    float: left;
}
.banner main .ban2{
    width:37px;
    height:90px;
    background: #6f757c;
    border-radius: 5px;
    position: absolute;
    top:130px;
    left:80px;
}
.banner main .ban2 .img2{
    display: block;
    margin:30px auto;
}
.banner main .ban3{
    width:37px;
    height:90px;
    background: #6f757c;
    border-radius: 5px;
    position: absolute;
    top:130px;
    right:80px;
}
.banner main .ban3 .img3{
    display: block;
    margin:30px auto;
}
section {
    width:100%;
    min-height: 500px;
    background: #f4f4f4;
}
section main{
    width:1240px;
    min-height: 500px;
    margin: 0 auto;
    padding-top:20px;
    position: relative;
}
section main .sec1{
    width:790px;
    height:90px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    float: left;
}
section main .sec1 .sec11{
    width:90px;
    height:40px;
    background: #fff;
    border-radius: 5px;
    flex-shrink: 0;
    font-size: 12px;
    color: #999999;
    text-align: center;
    line-height: 40px;
}
section main .sec1 .sec11:hover{
    color:red;
    font-weight: 600;
}
section main .sec2{
    width:360px;
    height:40px;
    background: #fff;
    float: left;
    margin-left:50px;
    position: relative;
}
section main .sec2 .inpt1{
    width:360px;
    height:40px;
    border:none;
}
section main .sec2 .sec21{
    width:73px;
    height:40px;
    background: red;
    position: absolute;
    right:0 ;
    top:0;
}
section main .sec2 .sec21 .img4{
    margin:10px 25px;
}
section main .sec4{
    width:896px;
    height:1395px;
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
section main .sec4 .sec41{
    width:290px;
    height:270px;
    background: #fff;
    border-radius: 5px;
    flex-shrink: 0;
}
section main .sec4 .sec41 .img5{
    display: block;
    margin: 10px auto;
}
section main .sec4 .sec41 .p1{
    width:206px;
    height: 20px;
    font-size: 12px;
    margin-left:10px;
}
section main .sec4 .sec41 .sec411{
    width:272px;
    height:32px;
    border-top:1px solid #999999;
    margin-left:10px;
}
section main .sec4 .sec41 .sec411 .sec4111{
    width:56px;
    height:16px;
    margin-top:8px;
    margin-left:40px;
    font-size: 12px;
    color:#999999;
    line-height: 16px;
    text-indent: 5px;
    float: left;
}
section main .sec4 .sec41 .sec411 .sec4111 .img6{
    display: block;
    float: left;
    margin-top:2px;
}
section main .sec4 .sec41 .sec411 .sec4112{
    width:80px;
    height:16px;
    margin-top:8px;
    margin-left:20px;
    font-size: 12px;
    color:#999999;
    line-height: 16px;
    text-indent: 10px;
    float: left;

}
section main .sec4 .sec41 .sec411 .sec4112 .img7{
    display: block;
    float: left;
    margin-top:2px;
}

section main .sec4 .sec41 .sec411 .sec4113{
    width:60px;
    height:16px;
    margin-top:8px;
    font-size: 12px;
    color:#999999;
    line-height: 16px;
    text-indent: 5px;
    float: left;
}
section main .sec4 .sec41 .sec411 .sec4113 .img8{
    display: block;
    float: left;
    margin-top:2px;
}
section main .sec5{
    width:294px;
    height:526px;
    background: #fff;
    position: absolute;
    top:150px;
    right:42px;
}
section main .sec5 .sec51{
    width:290px;
    height:24px;
    border-left: 2px solid red;
    margin-top: 14px;
    text-indent: 10px;
    position: relative;
}
section main .sec5 .sec51 .sec511{
    width:80px;
    height:16px;
    position: absolute;
    right:20px;
    top:5px;
    font-size: 14px;
     color:#999999;
     text-align: center;
     line-height: 16px;
}
section main .sec5 .sec52{
    width:290px;
    height:442px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section main .sec5 .sec52 .sec521{
    width:290px;
    height:58px;
}
section main .sec5 .sec52 .sec521 .img20{
    display: block;
    float: left;
}
section main .sec5 .sec52 .sec521 .p1{
    width:180px;
    height:35px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 90px;
}
section main .sec5 .sec52 .sec521 .p2{
    font-size: 14px;
    color:#999999;
    margin-left: 90px;
    margin-top:5px;
}
footer{
    width:100%;
    height: 333px;
    background: #fff;
    padding-top:50px
}
footer main{
    width:1306px;
    height:333px;
    margin: 0 auto;
}
footer main .foo1{
    width:990px;
    height:50px;
    margin:0  auto;
    
}
footer main .foo1 .foo11{
    width:185px;
    height:50px;
    margin-left:30px;
    margin-right:30px;
    float: left;
}
footer main .foo1 .foo11 .img67{
    display: block;
    margin-top:2px;
    margin-left:2px;
    float: left;
}
footer main .foo1 .foo11 .foo111{
    width:110px;
    height:50px;
    float: left;
    font-size: 22px;
    line-height: 50px;
    text-indent: 15px;
    margin-left:10px;
    border-left: 1px solid #000;
}
footer main .p1{
    width:1230px;
    height:14px;
    color:#999999;
    font-size: 12px;
    /* margin: 60px auto; */
    margin-top:60px;
    margin-left:40px;
}
footer main .p2{
    width:300px;
    height:14px;
    color:#999999;
    font-size: 12px;
    margin: 10px auto;
}
footer main .p3{
    width:300px;
    height:14px;
    color:#999999;
    font-size: 12px;
    margin: 10px auto;
}
footer main .foo2{
    width:600px;
    height:16px;
    margin-left:320px;
}
footer main .foo2 .foo21{
    width:63px;
    height:16px;
    float: left;
    font-size: 12px;
    border-right:1px solid #999999;
    margin-right: 16px;
    color:#999999;
}
footer main .foo2 .foo21:nth-child(3){
    width:180px;
}